# GEMINI_API_KEY: Required for Gemini AI API calls.
# GEMINI_API_KEY=MY_GEMINI_API_KEY

SUPABASE_URL=https://nlkhbhgzscpdistzuyod.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sa2hiaGd6c2NwZGlzdHp1eW9kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5NTQ3MDgsImV4cCI6MjEwMTUzMDcwOH0.Niy8n76LZnvIbwbItuP8164Rx7wduU9q8tTwTGY21B8

